body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: lightseagreen;
}

p {
  color: gray;
}

#app {
  color: chocolate;
}

pre {
  color: mediumorchid;
  margin-left: 204px;
  font-family: "Ubuntu Light";
}

img {
  margin-bottom: -70px;
  margin-left: 160px;
}

